[package]
name = "rust"
version = "0.1.0"
edition = "2021"

[dependencies]
actix-web = "4"
dotenv = "0.15.0"
tokio-postgres = "0.7"
uuid = { version = "0.8", features = ["v4"] }
tokio = { version = "1", features = ["full"] }
